body, html {
    height: 100%;
    margin: 0;
}

.bg {
    /* The image used */
    background-image: url("../img/background.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    margin: auto;
    max-width: 900px;
    text-align: center;
    padding-top: 50px
}

.text {
    background: #353235;
    opacity: 0.82;
    color: #f5f9bb;
    font-weight: 100;
    line-height: 1.8;
    display: inline-block;
    padding: 0 20px;
    clear: both;
    font-family: sans-serif;
}

.main-header {
    letter-spacing: 3px;
    font-size: 36px;
}

.main-info {
    letter-spacing: 1px;
    font-size: 24px;
}

@media (max-width: 900px) {
    .content {
        max-width: 600px;
    }
}

@media (max-width: 600px) {
    .content {
        max-width: 450px;
    }

    .main-header {
        font-size: 24px;
    }

    .main-info {
        font-size: 18px;
    }
}

@media (max-width: 450px) {
    .content {
        max-width: 300px;
        padding-top: 0px;
    }
}

